body {
  font-family: Helvetica;
}

.responsive {
  max-width: 100%;
  margin: auto 0.1rem;
  padding: 0.1rem;
}

code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

pre {
  background-color: cyan;
  padding: 0.5rem;
}

::selection {
  background-color: yellow;
}
