body {
  font-family: Helvetica;
}

.responsive {
  max-width: 100%;
  margin: auto 2rem;
  padding: 1rem;
}

code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

pre {
  background-color: cyan;
  padding: 2rem;
}

::selection {
  background-color: yellow;
}
