body {
  font-family: Helvetica;
}

.responsive {
  max-width: 100%;
  overflow-wrap: break-word;
  margin: auto 2rem;
  padding: 1rem;
}

pre {
  background-color: cyan;
}

::selection {
  background-color: yellow;
}
